* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
    background: #fffff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}

.middle-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.database-image {
    width: 20%;
    height: auto;
    display: block;
    position: absolute;
    left: calc((50% - 15% - 20%) / 2);
}

.window-image {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.other-screen-image {
    width: 20%;
    height: auto;
    display: block;
    position: absolute;
    right: calc((50% - 15% - 20%) / 2);
}

.bottom-section {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.geolocator-image {
    width: 5%;
    height: auto;
    display: block;
    position: absolute;
    left: 12%;
    bottom: 2rem;
}

.selector-base-image {
    width: 25%;
    height: auto;
    display: block;
    position: absolute;
    left: 45%;
    bottom: -7rem;
}

.selector-left-arrow {
    width: 3%;
    height: auto;
    display: block;
    position: absolute;
    left: 45.9%;
    bottom: -6.15rem;
    cursor: pointer;
}

.selector-right-arrow {
    width: 3%;
    height: auto;
    display: block;
    position: absolute;
    left: 66%;
    bottom: -6.15rem;
    cursor: pointer;
}

.radio-image {
    width: 15%;
    height: auto;
    display: block;
    position: absolute;
    left: 72%;
    bottom: -8.65rem;
}

.base-image {
    width: 100%;
    height: auto;
    display: block;
}
